<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        /* font-family: '宋体', arial, sans-serif; */
        font: 12px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
        -webkit-font-smoothing:antialiased;
      }
      p
      {
        font-size: 14px;
        line-height: 30px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <div
      style="
        background: #fff;
        border: 1px solid #ccc;
        margin: 2%;
        padding: 0 30px;
        margin: 0 auto;
        width: 60%;
      "
    >
      <div style="line-height: 40px; height: 40px;">&nbsp;</div>
      <p
        style="
          font-weight: bold;
        "
      >
        亲爱的用户：PNAME
      </p>
      <div style="line-height: 20px; height: 20px;">&nbsp;</div>
      <p>
        您好！感谢您使用安全中心服务，您正在进行安全操作验证。
      </p>
      <p>
        本次操作IP地址:PADDRESS 如非本人操作，请注意可能有人尝试登录您的账户。
      </p>
      <div
        style="
          color: #333;
        "
      >
      <span>本次验证码为:</span>
        <b style="font-size: 18px; color: #f90;">CONFCODE</b>
        <p
          style="
            margin-left: 10px;
            line-height: 30px;
            color: #979797;
          "
          >(为了保障您帐号的安全性，请尽快完成验证。)</p
        >
      </div>
      <!-- <div style="margin-top: 25px;"></div> -->
      <img
        src="https://i1.hdslb.com/bfs/face/7ea4620c5550ae013577c425d4747b16e5d9fd6b.jpg"
        style="width: 128px; border-radius: 50%; float: right; pointer-events:none;"
      />
      <div style="clear: both;"></div>
      <!-- <p style="float: right;">RaceSpeedTime</p> -->
      <a
        href="https://space.bilibili.com/6667765"
        style="color: black; text-decoration: none; float: right;"
        >RaceSpeedTime</a
      >
      <div style="clear: both; margin-bottom: 30px;"></div>
    </div>
  </body>
</html>
